extends layout 
block content 
    a(href=category.url class='return-btn') Back to Category Details
    h1= title 

    if category_products.length 
        p You must delete these items before you can delete this category: 
        ul 
            each product in category_products 
                li 
                    a(href=product.url)  #{product.name} 
            else
                li There are no products.
    else 
        p Are you sure you want to delete this category?
        form(method='POST' action='')
            div.form-group
                input#categoryid.form-control(type='hidden' name='categoryid' value=category._id)
            button.delete-btn(type='Submit') Confirm Delete 
