extends layout 
block content 
    a(href='/inventory' class='return-btn') Back Home
    h1= title 
    ul(class='instance-list')
        each instance in instance_list 
            li(class='instance-list-item')
                div(class='instance-list-details')
                    a(class='instance-link-btn' href=(instance.url)) #{instance.product.name} 
                    div Size: #{instance.size} 
                    div Price: #{instance.product.price} 
                    div ID: #{instance._id}
        else
            li There are no products in stock.